[Desktop Entry]
Categories=Game;LauncherStore;GameTool
Exec=pandora_launcher
Icon=com.moulberry.PandoraLauncher
Name=Wachiland Launcher
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.28
Keywords=Games;Minecraft;ModManager;Launcher;RustLang
X-Flatpak=com.moulberry.PandoraLauncher
